body {
    background: #121212;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    color: white;
}

.headerbox {

}

.infobox {

}

.quotebox {

}

.catbox {

}

.footerbox {
    
}